.chk-main {
  width: 100%;
  height: auto;
  min-height: 667px;
  position: relative;
  box-shadow: 0 5px 5px -5px #90909070 inset;
}

.chk-main-line {
  margin: 5px 0;
  height: 1px;
  border: 0;
  background-color: #707070;
}

.chk-main-header {
  width: 95%;
  height: 62px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chk-main-header.scroll {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  box-shadow: 0 5px 5px -5px #90909070;
}

.chk-main-h-icon {
  display: block;
  width: 7vw;
  height: 7vw;
  max-width: 32px;
  max-height: 32px;
  padding: 0 10px;
}

.chk-main-h-title {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0.1rem;
}

.chk-main-content {
  width: 80%;
  min-width: 320px;
  height: auto;
  min-height: 605px;
  margin: 15px auto;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.16);
  box-sizing: border-box;
}

.chk-content-title {
  display: flex;
  justify-content: space-between;
}

.chk-content-title h3 {
  font-size: 22px;
  font-weight: bold;
  color: #707070;
}

.chk-content-item {
  height: 300px;
  padding: 10px 5px;
  box-sizing: border-box;
}

.chklist-chkbox {
  display: flex;
  align-items: center;
}

.chklist-input {
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  position: absolute;
  left: -999px;
  z-index: -1000;
}

.chklist-input+.chklist-label {
  display: inline-block;
  max-width: 170px;
  max-height: 19px;
  padding-left: 25px;
  background: url(../images/icons/chkbox.png) no-repeat 0 0 / 19px auto;
  vertical-align: text-bottom;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.chklist-input:checked+.chklist-label {
  background-position: 0 -19px;
}

.chklist-input+.chklist-label.complete {
  color: #999;
  text-decoration: line-through;
}

.chklist-wrap {
  height: 32px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chklist-info {
  display: flex;
  align-items: center
}

.chklist-goal {
  font-size: 12px;
  white-space: nowrap;
  margin-right: 2px;
  color: #707070;
}

.chklist-delete {
  display: inline-block;
  width: 7vw;
  height: 7vw;
  max-width: 32px;
  max-height: 32px;
}

.chklist-warning {
  display: inline-block;
  width: 6vw;
  height: 6vw;
  max-width: 32px;
  max-height: 32px;
}

.chk-miss-container {
  height: 300px;
  background-color: #f3f3f3;
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;
  overflow: hidden;
}

.chk-miss-container .chklist-goal {
  font-size: 13px;
  color: #f7323f
}

.miss-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.miss-header h3 {
  font-size: 18px;
  color: #f7323f;
}

.miss-h-icon {
  display: inline-block;
  width: 7vw;
  height: 7vw;
  max-width: 28px;
  max-height: 28px;
}

.miss-item {
  height: 228px;
}

/* scroll bar 모음 */

.accordion {
  overflow-y: scroll;
  overflow-x: hidden;
}

.accordion::-webkit-scrollbar {
  width: 4px;
}
.accordion::-webkit-scrollbar-track{
  background-color: transparent;
}

.accordion::-webkit-scrollbar-thumb{
  border-radius: 3px;
  background-color: rgba(153, 153, 153, 0.62);
}

.accordion::-webkit-scrollbar-button{
  width: 0;
  height: 0;
}

